* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#palabraAdivinar{
   height: 3em;
}
#palabraAdivinar span{ 
   vertical-align: bottom;
   font-size: 2em;
   border-bottom: 2px solid black;
   width: 30px;
   text-align: center;
   margin-right: 6px;
   display: inline-block; 
}