*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#letras {
  display: flex;
  flex-wrap: wrap;
}

/*en el contenedor de contenido poner direction flex: column*/

#letras button{ 
    min-width: 30px;
    height: 30px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2px 2px 2px 2px; 
    align-content: center;
    justify-content: center;
    align-items: center;  
    position: relative;
    top: -140px;
    border-radius: 50px;
    background: rgb(250, 247, 86);
    font-weight: bold;
}


#jugar{
  width: 150px;
  height: 30px;
  font-weight: bold;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 10px;
  /* align-items: center; */
  text-align: center;
  position: relative;
  top: -130px;
  /* flex-wrap: wrap; */
  padding: 6px 0;
  border-radius: 100px;
  background: #64C9ED;
  transition: background-color 0.4s ease;
}

#jugar:hover{
  background-color:  rgb(250, 247, 86);
}


/* Media Query para MacBook Air */
@media screen and (max-width: 1440px) {
  #letras button {
    min-width: 24px;
    height: 24px;
    padding: 4px 0;
  }

  #jugar {
    min-width: 26px;
    height: 26px;
    padding: 2px;
    top: -130px;
  }
}