*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#letras{ 
    margin-top: 30px;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
}

/*en el contenedor de contenido poner direction flex: column*/

#letras button{ 
    width: 35px;
    padding: 6px 0 6px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background: rgb(250, 247, 86);
}

#jugar{
  width: 150px;
  height: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 50px;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 6px 0;
  border-radius: 100px;
  background: aquamarine;
}



#imagen{
  width: 300px;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding: 6px 0;

}
  
  @media only screen and (max-width: 414px) {
    #letras button {
      width: 20px;
      padding: 4px 0;
    }
  }

  @media only screen and (max-width: 414px) {
    #letras{ 
      margin-top: 30px;
      display: inline-block;
      flex-wrap: wrap;
  }
  }

  @media only screen and (max-width: 414px) {
    #juego {
      width: 150px;
      height: 40px;
      margin-top: 30px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      padding: 6px 0;
      border-radius: 100px;
      background: aquamarine;
    }
  }